<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669284902141-biqgntmkbphcli6ua7c1n0i437ka9qnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669284902141-biqgntmkbphcli6ua7c1n0i437ka9qnj</string>
	<key>API_KEY</key>
	<string>AIzaSyClf9jakwloiI3M2rWg1penEdJIxlFzLUg</string>
	<key>GCM_SENDER_ID</key>
	<string>669284902141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.rahulverma.ToDoList2</string>
	<key>PROJECT_ID</key>
	<string>todolist2-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist2-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669284902141:ios:0374e42c58978ac3e34a94</string>
</dict>
</plist>